# Default ignored files
/shelf/
/.idea/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

build/
.idea/
*.iml
.gradle/
/out/
http-client.private.env.json
.DS_Store
.security/.DS_Store
*.private.env.jsons


# Env
.env.local