# Default ignored files
/shelf/
/.idea/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

build/
.idea/
*.iml
.gradle/
# See https://kotlinlang.org/docs/whatsnew20.html#new-directory-for-kotlin-data-in-gradle-projects
.kotlin/
/out/
http-client.private.env.json
.DS_Store
.security/.DS_Store
*.private.env.jsons


# Env
.env*
!.env.example

.history/

# Claude Code documentation
CLAUDE.md
